@media screen and (max-width: 360px) {
    p.towandtext {
        display: none;
    }

    p.p1 {
        display: none;
    }

    .logo {
        padding-left: 20px;

    }
    .meidalogo{
        width: 109px;
        height: 40px;
    }


    .mediabackground{
        display: block;
        width: 360px;
        height: 563.69px;
        top: 57.5px;
        background: linear-gradient(101.15deg, rgba(43, 47, 58, 0.8) 21.24%, rgba(43, 47, 58, 0) 125.52%)


    }

    .divmenu {
        display: flex;



    }

    .navbar{
        width: 360px;
    }
    .home{
        display: none;
    }
    h2.discount{
        display: none;
    }
    .windows{
        display: none;
    }
    .pform{
        display: none;
    }
    .input{
        display: none;
    }
    .ourskills{
        display: none;
    }
    .h3images{
        display: none;
    }
    .h3paragraphs{
        display: none;
    }
    .price{
        display: none;
    }
    .header {
        width: 360px;

    }
    .nav__button{
        display: flex;

    }
    .numoftell{
        display: none;
    }

    .mediah1 {
        display: flex;
        position: absolute;
        margin-top: -550px;
        margin-left: -333px;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 54px;
        width: 326.84px;
        height: 108px;
        font-family: HelveticaNeueCyr;



        color: #FFFFFF;

    }
    .mediap {
        display: flex;
        position: absolute;
        margin-top: -380px;
        margin-left: 5px;
        font-family: HelveticaNeueCyr;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;
        text-shadow: 0px 4px 30px #000000;
    }

    .nummediamob{
        display: flex;
        margin-left: 60px;


    }
    .nummediatown{
        display: flex;
        margin-left: 60px;


    }
    .media span {
        display: flex;
        padding-right: 5px;


    }
    .media {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .new1 {
        position: absolute;
        margin-top: -70px;
        margin-left: 85px;

    }
    .new2 {
        position: absolute;
        margin-top: -50px;
        margin-left: 85px;
    }
    .mediaimgtop{
        display: block;
        width: 360px;
        height: 660px;
    }




}
