body {
    font-family: Montserrat;

}
.linkabout {
    color: #FFFFFF;
}
a {
color: #222222;
    text-decoration: none;
}
a:hover{
    color: #DB225B;
}
.inputs{
    background: #FFFFFF;
    border: 1px solid black;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
}
.pform {
    display: flex;
    justify-content: flex-start;
}
.inputtel {
    font-family: HelveticaNeueCyr;
    margin-left: 90px;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #B8B8B8;
}
.inputname{
    font-family: HelveticaNeueCyr;
    margin-left: 300px;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #B8B8B8;
}
.inputsearch{
    margin-left: 45px;
    font-family: HelveticaNeueCyr;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #B8B8B8;
    width: 308px;
    /*font-style: normal;*/
    /*font-weight: normal;*/
}
.selectinput{
    width: 500px;

}
form {
    margin-left: 258px;
    column-gap: 10px;
    display: flex;
    justify-content: space-between;
}
.btnspan {
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;


}
.azapis {
    color: #FFFFFF;
}
.signupbutton {
    background: #9E0031;
    border: 1px solid #DB225B;
    box-sizing: border-box;
    box-shadow: 0px 8px 25px rgba(158, 0, 49, 0.35);
    border-radius: 6px;
    width: 240px;
    height: 70px;
    margin-right: 258px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    text-align: center;

}
h2 {
    padding-top: 180px;
    padding-left: 500px;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;


    color: #222222;

}

.discountspan {
    color: #9E0031;

}
.navbar {
    display: flex;
    width: 1910px;
    height: 80px;
    justify-content: space-between;
}
.logo {
    padding-left: 369px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.kyiv {
    font-weight: 700;

}
.notkyiv {
    display: inline-block;
    color: #9E0031;
    padding-top: 5px;
    font-weight: 700;

}
.towandtext{
    padding-top: 8px;
    padding-bottom: 17px;
    padding-left: 15px;
}
.p1 {
    padding-top: 15px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #222222;


}
.services{
    font-weight: bold;
}
.townnumber{
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #B8B8B8;
}
.numbers{
    font-weight: bold;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
    padding-right: 349px;
    margin-left: 20px;
}
.secondnumber {
    display: inline-block;
    padding-left: 39px;
    padding-top: 5px;
}
.home   {
    display: flex;
    background-image: url("/images/Rectangle 2.png");
    width: 1910px;
    height: 775px;
    flex-direction: column;

}
h1 {
    font-weight: bold;
    font-size: 64px;
    line-height: 74px;
    color: #FFFFFF;
    padding-left: 349px;
    padding-top: 50px;

}
.withimg {
    margin-top: -18px;
    padding-left: 349px;
    font-weight: bold;
    font-size: 18px;
    line-height: 34px;
    color: #FFFFFF;

}
.spanhome {
    display: inline-block;
    padding-left: 11px;
}
.about {
    width: 250px;
    height: 70px;
    background: #9E0031;
    border: 1px solid #DB225B;
    box-sizing: border-box;
    box-shadow: 0px 4px 25px rgba(158, 0, 49, 0.2);
    border-radius: 6px;
    z-index: 1;
    margin-left: 349px;
    margin-top: 40px;
}
.aboutspan {
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.windows {
    position: absolute;
    height: 180px;
    padding-top: 730px;
    padding-left: 100px;
    width: 1736px;
    height: 200px;
}

.ha {
    margin-top: 300px;
}


#map {
    height:100%
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.ourskills {
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #222222;
    display: flex;
    justify-content: center;
    margin-top: 98px;

}
.h3images {

    display: flex;
    justify-content: center;
    column-gap: 30px;
}
.h3paragraphs {
    display: flex;


}

.h3p {
    width: 271px;
    font-family: HelveticaNeueCyr;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    padding-left: 90px;

}
